// Minimal Zellij Config

keybinds clear-defaults=true {
    shared_except "locked" {
        bind "Alt left" { MoveFocusOrTab "left"; }
        bind "Alt down" { MoveFocus "down"; }
        bind "Alt up" { MoveFocus "up"; }
        bind "Alt right" { MoveFocusOrTab "right"; }
        bind "Alt h" { MoveFocusOrTab "left"; }
        bind "Alt j" { MoveFocus "down"; }
        bind "Alt k" { MoveFocus "up"; }
        bind "Alt l" { MoveFocusOrTab "right"; }
        bind "Alt n" { NewPane; }
        bind "Alt t" { NewTab; }
        bind "Alt w" { CloseFocus; }
        bind "Alt r" { SwitchToMode "renametab"; TabNameInput 0; }
        bind "Ctrl q" { Quit; }
        bind "Ctrl s" { SwitchToMode "entersearch"; SearchInput 0; }
        bind "Ctrl /" { SwitchToMode "entersearch"; SearchInput 0; }
    }
    
    renametab {
        bind "enter" { SwitchToMode "normal"; }
        bind "esc" { UndoRenameTab; SwitchToMode "normal"; }
        bind "Ctrl c" { SwitchToMode "normal"; }
    }
    
    entersearch {
        bind "Ctrl c" { SwitchToMode "normal"; }
        bind "esc" { SwitchToMode "normal"; }
        bind "enter" { SwitchToMode "search"; }
    }
    
    search {
        bind "n" { Search "down"; }
        bind "N" { Search "up"; }
        bind "Ctrl c" { ScrollToBottom; SwitchToMode "normal"; }
        bind "esc" { ScrollToBottom; SwitchToMode "normal"; }
    }
}

simplified_ui true
theme "CursorDarkMidnight"
default_layout "disable-status-bar"
session_name "main"
attach_to_session true
mouse_mode false
pane_frames false
scroll_buffer_size 1000
scrollback_lines_to_serialize 100
serialization_interval 60
disable_session_metadata true
auto_layout false
show_startup_tips false

themes {
CursorDarkMidnight {
    // Basis-Farben (für Kompatibilität)
    bg "#191c22"
    fg "#7b88a1"
    red "#bf616a"
    green "#a3be8c"
    yellow "#ebcb8b"
    blue "#81a1c1"
    magenta "#b48ead"
    orange "#d08770"
    cyan "#88c0d0"
    black "#3b4252"
    white "#5E6678"
    
    // UI-Komponenten für Tabs und Statusleiste
    // RGB-Werte: base background emphasis_0 emphasis_1 emphasis_2 emphasis_3
    
    // Text - unselektiert (gedeckter Text in der Statusleiste)
    text_unselected {
        base 123 136 161  // #7b88a1 - Haupttext
        background 25 28 34  // #191c22 - Hintergrund
        emphasis_0 75 81 99  // #4b5163 - Gedeckter Text
        emphasis_1 216 222 233  // #d8dee9 - Heller Text
        emphasis_2 136 192 208  // #88c0d0 - Akzentfarbe
        emphasis_3 191 97 106  // #bf616a - Rot/Akzent
    }
    
    // Text - selektiert
    text_selected {
        base 216 222 233  // #d8dee9 - Heller Text für Selektion
        background 33 36 43  // #21242b - Selektion Hintergrund
        emphasis_0 136 192 208  // #88c0d0 - Cyan Akzent
        emphasis_1 255 255 255  // Weiß für starke Betonung
        emphasis_2 163 190 140  // #a3be8c - Grün
        emphasis_3 191 97 106  // #bf616a - Rot
    }
    
    // Ribbon (Tabs) - unselektiert (inaktive Tabs)
    // Alle Tabs haben denselben transparenten Hintergrund (#191c22)
    // Nur Textfarbe (#4b5163) unterscheidet sich vom aktiven Tab
    ribbon_unselected {
        base 75 81 99  // #4b5163 - Gedeckter Text für inaktive Tabs
        background 25 28 34  // #191c22 - MUSS identisch mit Theme bg sein
        emphasis_0 25 28 34  // #191c22 - Hintergrund, kein sichtbarer Unterschied
        emphasis_1 25 28 34  // #191c22 - Hintergrund, kein sichtbarer Unterschied
        emphasis_2 25 28 34  // #191c22 - Hintergrund, kein sichtbarer Unterschied
        emphasis_3 25 28 34  // #191c22 - Hintergrund, kein sichtbarer Unterschied
    }
    
    // Ribbon (Tabs) - selektiert (aktiver Tab)
    // Gleicher transparenter Hintergrund wie inaktive Tabs
    // Nur Textfarbe ist heller (#d8dee9) - das ist der EINZIGE Unterschied
    ribbon_selected {
        base 216 222 233  // #d8dee9 - Heller Text für aktiven Tab
        background 25 28 34  // #191c22 - GLEICHER Hintergrund wie unselected
        emphasis_0 25 28 34  // #191c22 - Gleicher Hintergrund, keine Akzente
        emphasis_1 25 28 34  // #191c22 - Gleicher Hintergrund, keine Akzente
        emphasis_2 25 28 34  // #191c22 - Gleicher Hintergrund, keine Akzente
        emphasis_3 25 28 34  // #191c22 - Gleicher Hintergrund, keine Akzente
    }
    
    // Rahmen - unselektiert (nicht fokussierte Panes)
    // Rahmenfarbe zwischen Panes: #272c36 (heller, besser sichtbar, aber noch gedeckt)
    frame_unselected {
        base 39 44 54  // #272c36 - Hellere, aber noch gedeckte Rahmenfarbe (besser sichtbar)
        background 25 28 34  // #191c22 - Hintergrund
        emphasis_0 39 44 54  // #272c36 - Konsistent
        emphasis_1 39 44 54  // #272c36 - Konsistent
        emphasis_2 39 44 54  // #272c36 - Konsistent
        emphasis_3 39 44 54  // #272c36 - Konsistent
    }
    
    // Rahmen - selektiert (fokussierte Pane)
    // Gleiche Farbe wie unselected für konsistenten Strich
    frame_selected {
        base 39 44 54  // #272c36 - Gleiche Rahmenfarbe wie unselected
        background 25 28 34  // #191c22 - Hintergrund
        emphasis_0 39 44 54  // #272c36 - Konsistent
        emphasis_1 39 44 54  // #272c36 - Konsistent
        emphasis_2 39 44 54  // #272c36 - Konsistent
        emphasis_3 39 44 54  // #272c36 - Konsistent
    }
    
    // Rahmen - Highlight (wenn in einem speziellen Modus)
    // Gleiche Farbe für konsistenten Strich
    frame_highlight {
        base 39 44 54  // #272c36 - Gleiche Rahmenfarbe
        background 25 28 34  // #191c22 - Hintergrund
        emphasis_0 39 44 54  // #272c36 - Konsistent
        emphasis_1 39 44 54  // #272c36 - Konsistent
        emphasis_2 39 44 54  // #272c36 - Konsistent
        emphasis_3 39 44 54  // #272c36 - Konsistent
    }
    
    // Tabellen-Titel
    table_title {
        base 216 222 233  // #d8dee9 - Heller Text für Titel
        background 30 33 39  // #1e2127 - Etwas hellerer Hintergrund
        emphasis_0 136 192 208  // #88c0d0
        emphasis_1 255 255 255  // Weiß
        emphasis_2 163 190 140  // #a3be8c
        emphasis_3 191 97 106  // #bf616a
    }
    
    // Tabellen-Zelle - unselektiert
    table_cell_unselected {
        base 123 136 161  // #7b88a1 - Standard Text
        background 25 28 34  // #191c22 - Hintergrund
        emphasis_0 75 81 99  // #4b5163
        emphasis_1 216 222 233  // #d8dee9
        emphasis_2 136 192 208  // #88c0d0
        emphasis_3 191 97 106  // #bf616a
    }
    
    // Tabellen-Zelle - selektiert
    table_cell_selected {
        base 216 222 233  // #d8dee9 - Heller Text
        background 33 36 43  // #21242b - Selektion Hintergrund
        emphasis_0 136 192 208  // #88c0d0
        emphasis_1 255 255 255  // Weiß
        emphasis_2 163 190 140  // #a3be8c
        emphasis_3 191 97 106  // #bf616a
    }
    
    // Liste - unselektiert
    list_unselected {
        base 123 136 161  // #7b88a1 - Standard Text
        background 25 28 34  // #191c22 - Hintergrund
        emphasis_0 75 81 99  // #4b5163
        emphasis_1 216 222 233  // #d8dee9
        emphasis_2 136 192 208  // #88c0d0
        emphasis_3 191 97 106  // #bf616a
    }
    
    // Liste - selektiert
    list_selected {
        base 216 222 233  // #d8dee9 - Heller Text
        background 33 36 43  // #21242b - Selektion Hintergrund
        emphasis_0 136 192 208  // #88c0d0
        emphasis_1 255 255 255  // Weiß
        emphasis_2 163 190 140  // #a3be8c
        emphasis_3 191 97 106  // #bf616a
    }
    
    // Exit Code - Erfolg
    exit_code_success {
        base 163 190 140  // #a3be8c - Grün für Erfolg
        background 25 28 34  // #191c22
        emphasis_0 0 0 0  // Nicht verwendet
        emphasis_1 0 0 0
        emphasis_2 0 0 0
        emphasis_3 0 0 0
    }
    
    // Exit Code - Fehler
    exit_code_error {
        base 191 97 106  // #bf616a - Rot für Fehler
        background 25 28 34  // #191c22
        emphasis_0 0 0 0  // Nicht verwendet
        emphasis_1 0 0 0
        emphasis_2 0 0 0
        emphasis_3 0 0 0
    }
    
    // Multiplayer-Farben
    multiplayer_user_colors {
        player_1 136 192 208  // #88c0d0
        player_2 143 188 187  // #8fbcbb
        player_3 163 190 140  // #a3be8c
        player_4 235 203 139  // #ebcb8b
        player_5 191 97 106  // #bf616a
        player_6 180 142 173  // #b48ead
        player_7 208 135 112  // #d08770
        player_8 129 161 193  // #81a1c1
        player_9 94 129 172  // #5e81ac
        player_10 75 81 99  // #4b5163
    }
}
}
