{{- $mod := "ctrl" }}
{{- if eq .chezmoi.os "darwin" }}
{{- $mod = "cmd" }}
{{- end }}
[
    // Chat
    {
        "key": "{{ $mod }}+shift+0",
        "command": "github.copilot.chat.completions.toggle",
        "when": "github.copilot.activated && github.copilot.extensionUnification.activated"
    },
    {
        "key": "{{ $mod }}+l",
        "command": "workbench.action.chat.attachSelection",
        "when": "chatIsEnabled && editorTextFocus"
    },
    {
        "key": "{{ $mod }}+l",
        "command": "workbench.action.terminal.chat.addTerminalSelection",
        "when": "chatIsEnabled && terminalFocus && (terminalHasBeenCreated || terminalProcessSupported)"
    },

    // Terminal
    {
        "key": "{{ $mod }}+n",
        "command": "workbench.action.terminal.new",
        "when": "terminalFocus"
    },
    {
        "key": "shift+escape",
        "command": "runCommands",
        "when": "terminalFocus",
        "args": {
            "commands": [
                "workbench.action.toggleMaximizedPanel",
            ]
        }
    },

    // Workbench
    {
        "key": "shift+escape",
        "when": "auxiliaryBarFocus",
        "command": "workbench.action.toggleMaximizedAuxiliaryBar"
    },
    {
        "key": "{{ $mod }}+k c",
        "command": "workbench.action.alignQuickInputCenter"
    },
    {
        "key": "{{ $mod }}+k g",
        "command": "git-graph.view"
    },

    // Editor Group Navigation
    {
        "key": "{{ $mod }}+shift+h",
        "command": "workbench.action.focusPreviousGroup"
    },
    {
        "key": "{{ $mod }}+shift+l",
        "command": "workbench.action.focusNextGroup"
    },

    // Terminal Kill
    {
        "key": "{{ $mod }}+w",
        "command": "workbench.action.terminal.kill",
{{- if eq .chezmoi.os "darwin" }}
        "when": "terminalFocus"
{{- else }}
        "when": "terminalFocus && (terminalHasBeenCreated || terminalIsOpen || terminalProcessSupported)"
{{- end }}
    }
]
