{
    // Editor
    "editor.accessibilitySupport": "off",
    "editor.allowVariableFontsInAccessibilityMode": true,
    "editor.minimap.enabled": false,

    // Explorer
    "explorer.confirmDelete": true,
    "explorer.confirmDragAndDrop": false,

    // Extensions
    "extensions.ignoreRecommendations": false,

    // Files
    "files.autoSave": "afterDelay",
    "files.autoSaveDelay": 0,

    // Git
    "git.openRepositoryInParentFolders": "always",

    // Vim
    "vim.useSystemClipboard": true,
    "vim.useCtrlKeys": true,

    // Security
    "security.workspace.trust.untrustedFiles": "open",

    // Settings Sync
    "settingsSync.keybindingsPerPlatform": false,
    "settingsSync.ignoredExtensions": [],
    "settingsSync.ignoredSettings": [],

    "terminal.integrated.suggest.enabled": false,
    "terminal.integrated.initialHint": false,

    // Window
    "window.commandCenter": false,
    "window.customTitleBarVisibility": "never",

    // Workbench
    "chat.agent.maxRequests": 500,
    "chat.commandCenter.enabled": false,
    "window.autoDetectColorScheme": true,
    "workbench.preferredLightColorTheme": "Light Modern",
    "workbench.preferredDarkColorTheme": "Dark Modern",
    "workbench.colorTheme": "Light Modern",
    "workbench.activityBar.location": "top",
    "workbench.layoutControl.enabled": false,
    "workbench.startupEditor": "none",
    "workbench.tips.enabled": false
}
