[submodule "stow/.vim/pack/plugins/start/wilder.nvim"]
	path = stow/.vim/pack/plugins/start/wilder.nvim
	url = https://github.com/gelguy/wilder.nvim.git
[submodule "stow/.vim/pack/plugins/start/fzf"]
	path = stow/.vim/pack/plugins/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "stow/.vim/pack/plugins/start/fzf.vim"]
	path = stow/.vim/pack/plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
