[submodule "dot_vim/pack/plugins/start/wilder.nvim"]
	path = dot_vim/pack/plugins/start/wilder.nvim
	url = https://github.com/gelguy/wilder.nvim.git
[submodule "dot_vim/pack/plugins/start/fzf"]
	path = dot_vim/pack/plugins/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "dot_vim/pack/plugins/start/fzf.vim"]
	path = dot_vim/pack/plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "dot_vim/pack/plugins/start/vim-surround"]
	path = dot_vim/pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
