# Line endings
* text=auto

# Windows scripts: always CRLF
*.ps1 text eol=crlf
*.cmd text eol=crlf
*.bat text eol=crlf

# Unix scripts: always LF
*.sh text eol=lf
*.zsh text eol=lf

# Config files: always LF
*.txt text eol=lf
*.json text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.toml text eol=lf
*.tmpl text eol=lf

# plist filter
*.plist filter=plist2xml
