#!/bin/bash

# Deploy application configurations to OS-specific paths
# This script runs after chezmoi apply

SOURCE_DIR="{{ .chezmoi.sourceDir }}/source"

# ==========================
# VSCode
# ==========================
VSCODE_SOURCE="$SOURCE_DIR/vscode"

{{- if eq .chezmoi.os "darwin" }}
VSCODE_TARGET="$HOME/Library/Application Support/Code/User"
{{- end }}

{{- if eq .chezmoi.os "windows" }}
VSCODE_TARGET="$APPDATA/Code/User"
{{- end }}

{{- if eq .chezmoi.os "linux" }}
VSCODE_TARGET="$HOME/.config/Code/User"
{{- end }}

mkdir -p "$VSCODE_TARGET"

chezmoi execute-template < "$VSCODE_SOURCE/settings.json.tmpl" > "$VSCODE_TARGET/settings.json"
chezmoi execute-template < "$VSCODE_SOURCE/keybindings.json.tmpl" > "$VSCODE_TARGET/keybindings.json"

cp "$VSCODE_SOURCE/custom-vscode.css" "$VSCODE_TARGET/custom-vscode.css"

echo "VSCode config deployed to $VSCODE_TARGET"

# ==========================
# Zed
# ==========================
ZED_SOURCE="$SOURCE_DIR/zed"

{{- if eq .chezmoi.os "darwin" }}
ZED_TARGET="$HOME/.config/zed"
{{- end }}

{{- if eq .chezmoi.os "windows" }}
ZED_TARGET="$APPDATA/Zed"
{{- end }}

{{- if eq .chezmoi.os "linux" }}
ZED_TARGET="$HOME/.config/zed"
{{- end }}

mkdir -p "$ZED_TARGET"

chezmoi execute-template < "$ZED_SOURCE/keymap.json.tmpl" > "$ZED_TARGET/keymap.json"
cp "$ZED_SOURCE/private_settings.json" "$ZED_TARGET/settings.json"

echo "Zed config deployed to $ZED_TARGET"

# ==========================
# Vim
# ==========================
VIM_SOURCE="$SOURCE_DIR/vim"

{{- if eq .chezmoi.os "darwin" }}
VIM_TARGET="$HOME"
VIMRC_NAME=".vimrc"
VIMDIR_NAME=".vim"
{{- else if eq .chezmoi.os "linux" }}
VIM_TARGET="$HOME"
VIMRC_NAME=".vimrc"
VIMDIR_NAME=".vim"
{{- else if eq .chezmoi.os "windows" }}
VIM_TARGET="$USERPROFILE"
VIMRC_NAME="_vimrc"
VIMDIR_NAME="vimfiles"
{{- end }}

chezmoi execute-template < "$VIM_SOURCE/vimrc.tmpl" > "$VIM_TARGET/$VIMRC_NAME"

# Copy vim plugins directory
if [ -d "$VIM_SOURCE/pack" ]; then
    mkdir -p "$VIM_TARGET/$VIMDIR_NAME/pack"
    cp -r "$VIM_SOURCE/pack/plugins" "$VIM_TARGET/$VIMDIR_NAME/pack/"
fi

echo "Vim config deployed to $VIM_TARGET/$VIMRC_NAME"

# ==========================
# Neovim
# ==========================
{{- if eq .chezmoi.os "darwin" }}
NVIM_TARGET="$HOME/.config/nvim"
{{- else if eq .chezmoi.os "linux" }}
NVIM_TARGET="$HOME/.config/nvim"
{{- else if eq .chezmoi.os "windows" }}
NVIM_TARGET="$LOCALAPPDATA/nvim"
{{- end }}

mkdir -p "$NVIM_TARGET"

chezmoi execute-template < "$VIM_SOURCE/nvim-init.vim.tmpl" > "$NVIM_TARGET/init.vim"

echo "Neovim config deployed to $NVIM_TARGET"
