{{- $mod := "ctrl" }}
{{- if eq .chezmoi.os "darwin" }}
{{- $mod = "cmd" }}
{{- end }}
[
  {
    "bindings": {
      "g s a": "vim::PushAddSurrounds",
      "g s d": "vim::PushDeleteSurrounds",
      "g s r": "vim::PushChangeSurrounds",
      "{{ $mod }}-1": "workspace::FocusCenterPane"
    }
  },
]
