" Neovim Configuration

" ============================================================================
" Shared settings (both VSCode and standalone Neovim)
" ============================================================================

" Disable intro screen and start directly in insert mode
set shortmess+=I
autocmd VimEnter * startinsert

" Use Vim's plugin directory so both Vim and Neovim share the same plugins
{{- if eq .chezmoi.os "windows" }}
set runtimepath^=~/vimfiles
set packpath^=~/vimfiles
{{- else }}
set runtimepath^=~/.vim
set packpath^=~/.vim
{{- end }}

" Clipboard integration
set clipboard=unnamed
if has('clipboard')
    set clipboard=unnamed
    if has('unnamedplus')
        set clipboard=unnamed,unnamedplus
    endif
endif

" Search settings
set ignorecase
set smartcase
set incsearch
set hlsearch

" ============================================================================
" VSCode Neovim specific settings
" ============================================================================
if exists('g:vscode')
    " VSCode handles these, so we don't need to configure them here
    " Plugins like vim-surround will still work!

" ============================================================================
" Standalone Neovim specific settings
" ============================================================================
else
    " Transparent background - no ugly background color
    augroup TransparentBackground
        autocmd!
        autocmd ColorScheme * highlight Normal guibg=NONE ctermbg=NONE
        autocmd ColorScheme * highlight NonText guibg=NONE ctermbg=NONE
        autocmd ColorScheme * highlight EndOfBuffer guibg=NONE ctermbg=NONE
    augroup END

    " Apply immediately if no colorscheme is set later
    highlight Normal guibg=NONE ctermbg=NONE
    highlight NonText guibg=NONE ctermbg=NONE
    highlight EndOfBuffer guibg=NONE ctermbg=NONE

    " Line numbers
    set number
    set relativenumber

    " Better editing experience
    set expandtab
    set tabstop=4
    set shiftwidth=4
    set autoindent
    set smartindent

    " Visual improvements
    set cursorline
    set scrolloff=8
    set signcolumn=yes

    " Faster update time
    set updatetime=300
endif
