" Neovim Configuration (primarily for VSCode-Neovim)

" Disable intro screen
set shortmess+=I

" Start in normal mode (not insert mode like vim)

" Use Vim's plugin directory so both Vim and Neovim share the same plugins
{{- if eq .chezmoi.os "windows" }}
set runtimepath^=~/vimfiles
set packpath^=~/vimfiles
{{- else }}
set runtimepath^=~/.vim
set packpath^=~/.vim
{{- end }}

" fzf.vim configuration (OS-specific paths)
{{- if eq .chezmoi.os "darwin" }}
set rtp+=/opt/homebrew/bin/fzf
{{- else if eq .chezmoi.os "linux" }}
set rtp+=/usr/bin/fzf
{{- else if eq .chezmoi.os "windows" }}
set rtp+=~/scoop/apps/fzf/current
{{- end }}

" FZF centered popup window
let g:fzf_layout = { 'window': { 'width': 0.9, 'height': 0.6, 'border': 'rounded' } }

" Space: Scoped search in key directories using fd
{{- if eq .chezmoi.os "windows" }}
nnoremap <Space> :call fzf#run(fzf#wrap({'source': 'fd --type f . %USERPROFILE%\codespace %USERPROFILE%\Downloads %USERPROFILE%\Documents %USERPROFILE%\Desktop --max-depth 10', 'sink': 'e'}))<CR>
{{- else }}
nnoremap <Space> :call fzf#run(fzf#wrap({'source': 'fd --type f --max-depth 10 . ~/codespace ~/Downloads ~/Documents ~/Desktop ~/.local/share/chezmoi 2>/dev/null; fd --type f --max-depth 3 . ~ 2>/dev/null', 'sink': 'e'}))<CR>
{{- end }}

" Clipboard integration
set clipboard=unnamed
if has('clipboard')
    set clipboard=unnamed
    if has('unnamedplus')
        set clipboard=unnamed,unnamedplus
    endif
endif

" Search settings
set ignorecase
set smartcase
set incsearch
set hlsearch

" H/L for line start/end (like 0/$)
nnoremap H ^
nnoremap L $
vnoremap H ^
vnoremap L $
onoremap H ^
onoremap L $

" Transparent background
augroup TransparentBackground
    autocmd!
    autocmd ColorScheme * highlight Normal guibg=NONE ctermbg=NONE
    autocmd ColorScheme * highlight NonText guibg=NONE ctermbg=NONE
    autocmd ColorScheme * highlight EndOfBuffer guibg=NONE ctermbg=NONE
augroup END

highlight Normal guibg=NONE ctermbg=NONE
highlight NonText guibg=NONE ctermbg=NONE
highlight EndOfBuffer guibg=NONE ctermbg=NONE

" wilder.nvim - Popup cmdline
call wilder#setup({'modes': [':', '/', '?']})
call wilder#set_option('renderer', wilder#popupmenu_renderer(wilder#popupmenu_palette_theme({
      \ 'border': 'rounded',
      \ 'max_height': '75%',
      \ 'min_height': 0,
      \ 'prompt_position': 'top',
      \ 'reverse': 0,
      \ })))
