/* Hide top bar buttons */
div[aria-label="Close window"],
div[aria-label="Minimize"],
div[aria-label="Restore down"],
div[aria-label="Maximize"] {
    display: none !important;
}

.view-header-left {
    display: none !important;
}

.clickable-icon view-action {
    display: none !important;
}

.workspace-drawer-vault-actions {
    display: none !important;
}

